<div class="all">
  <div class="login">
    <div class="header-login">
      <img src="../../../assets/logo.jpeg" alt="">
    </div>
    <div class="content-login">
      <div [formGroup]="loginForm" class="form-group">
        <label for="user">Usuário</label>
        <input type="text" class="form-control" id="user" placeholder="Digite seu usuário" formControlName="userName">
        <label class="mt-1" for="password">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha" formControlName="userPassword">
      </div>
      <div class="btn btn-theme w-100 mt-2 " (click)="onSubmit()">Login</div>
    </div>
  </div>
</div>